html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}
.all {
    height: 350px;
    width: 550px;
    background-color: rgb(135, 220, 248);
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 2px 0 rgb(57, 191, 235);
    position: relative;
}
.score {
    background-color: rgb(251, 251, 157);
    color: gray;
    padding: 11px;
    position: absolute;
    left: 450px;
    box-shadow: 0px 2px gray;
}
.correct {
    position: absolute;
    left: 220px;
    background-color: green;
    color: white;
    padding: 11px;
    display: none;
}
.wrong {
    position: absolute;
    left: 220px;
    background-color: red;
    color: white;
    padding: 11px;
    display: none;
}
.question {
    width: 400px;
    height: 100px;
    margin: 50px auto 10px auto;
    background-color: rgb(145, 98, 199);
    box-shadow: 0px 4px darkblue;
    font-size: 70px;
    text-align: center;
    font-family: cursive;
}
.instruction {
    width: 400px;
    height: 50px;
    background-color: rgb(144, 144, 205);
    margin: 10px auto;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 2px purple;
}
.choices {
    height: 100px;
    width: 400px;
    margin: 5px auto;
}
.box {
    width: 75px;
    height: 65px;
    background-color: white;
    float: left;
    margin-right: 33px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.box:hover, .start:hover{
    background-color: rgb(209, 139, 209);
    color: white;
    box-shadow: 0 2px purple;
}
.box:active, .start:active {
    box-shadow: 0px, 0px, purple;
    top: 4px;
}
#box4 {
    margin-right: 0;
}
.start {
    width: 85px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    top: -14px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.time {
    width: 150px;
    padding: 10px;
    position: absolute;
    top: 320px;
    left: 350px;
    background-color: rgb(9, 201, 9);
    border-radius: 3px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    display: none;
}
.gameOver {
    height: 150px;
    width: 500px;
    background: linear-gradient(orange, red);
    color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 30px;
    z-index: 2;
    display: none;
}
@media (max-width: 600px){
    .all {
        height: 400px;
        width: 400px;
        background-color: rgb(135, 220, 248);
        margin: 200px auto;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 4px 2px 0 rgb(57, 191, 235);
        position: relative;
    }
    .score {
        background-color: rgb(251, 251, 157);
        color: gray;
        padding: 11px;
        position: absolute;
        left: 300px;
        box-shadow: 0px 2px gray;
    }
    .correct {
        position: absolute;
        left: 200px;
        background-color: green;
        color: white;
        padding: 11px;
        display: none;
    }
    .wrong {
        position: absolute;
        left: 200px;
        background-color: red;
        color: white;
        padding: 11px;
        display: none;
    }
    .correct {
    position: absolute;
    left: 170px;
    background-color: green;
    color: white;
    padding: 11px;
    display: none;
}
.wrong {
    position: absolute;
    left: 170px;
    background-color: red;
    color: white;
    padding: 11px;
    display: none;
}
.start {
    left: -148px;
}
.time {
    left: 150px;
}
.gameOver {
    height: 150px;
    width: 500px;
    background: linear-gradient(orange, red);
    color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 5px;
    z-index: 2;
    display: none;
}
}